<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">   
  </head>
  <body>
    <h1>點餐系統</h1>
    <div class="test">
        <ul class="drop-down-menu">
            <li>
                <a href="#">菜單系統</a>
                <ul>
                    <li>
                        <a href="createMenu">上傳菜單</a>
                    </li>
                    <li>
                        <a href="editmenu">編輯菜單</a>
                    </li> 
                    <li>
                        <a href="assignmenu">指派菜單</a>
                    </li> 
                </ul>
            </li>
                <li>
                    <a href="/pickmenu">開始點餐</a>
                </li>         
    
                <li>
                    <a href="">會員管理</a>
                    <ul><% if(nickname==null){ %>
                        <li><a href="/login">會員登入</a></li>
                        <li><a href="/signup">會員註冊</a></li>
                        <%}else{%>
                        <li><a href="/logout">會員登出</a></li>
                        <%} %>                    
                    </ul>
                </li>
            </ul>
        </div>

        <h1>歡迎</h1>>
  </body>
</html>
